@charset "UTF-8";
@font-face {
	font-family: 'HelveticaNeue-Thin';
	/*src: url('../fonts/helveticaneue-thin.eot') format('embedded-opentype');*/
	/*src: url('/font15/HelveticaNeue-Thin.otf')format('opentype');*/
	src: url('/font15/FuturaLT-Light.otf')format('opentype');
	/*src: url('/font15/Futura LT Medium.ttf')format('truetype');*/
}

.font {
	font-family: "HelveticaNeue-Thin";
}


html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{letter-spacing:0.01px;margin:0;background:#fff;font:400 16px/1.25 "HelveticaNeue-Thin",sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
/*
body,html{height:100%}article,aside,blockquote,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}[hidden]{display:none!important}
*/.Link,a{color:#0487c4;text-decoration:none;transition:color .2s ease,opacity .2s ease}
.Link:active,.Link:hover,a:active,a:hover{outline:0}.Link img,a img{transition:opacity .3s ease}
.Link:focus,.Link:hover,a:focus,a:hover{color:#036c9c;text-decoration:underline}
.Link:focus img,.Link:hover img,a:focus img,a:hover img{opacity:.85}*/
.Link:focus,a:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
button,input,select,textarea{margin:0;font-size:18px;line-height:inherit;font-family:inherit}
button,input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button;border:none}


.Bar>.container{padding:0}.Bar-navi-link--highlighted{padding-left:10px;padding-right:10px}
.Bar-menu{box-shadow:5px 5px 7px rgba(0,0,0,.12);background:#fff;}
.Dropdown-arrow{position:relative;top:1px;display:inline-block;width:0;height:0;margin-left:5px;border:4px solid transparent;border-top-color:inherit;vertical-align:middle}
.Dropdown-view{position:absolute;top:100%;display:none;background:#fff}.is-open .Dropdown-view{display:block}
.Box--ribbon{color:#fff;background-color:#dd4b49;vertical-align:center}
.Box{position:relative;padding:22px 20px 19px 68px;font-size:18px;font-family: "HelveticaNeue-Thin",sans-serif;font-weight:100;font-size:16px;}
.Box.Box--ribbon{font-size:18px;height:24px;position:relative;padding:13px 2% 13px;:font-family: "HelveticaNeue-Thin",sans-serif;line-height:1.2;text-align:center;z-index:9000}

/***********body***********/
body{background-color:#333333;}

.main-div{width:1348px;position:relative;}
.li_img{list-style-image:url(/images15/list.png);margin-left:19px;padding-left:12px;padding-bottom:2px;font-size:14px;padding-top:3px}
.p_company{color:#27c253;font-size:30px;margin-top:30px;margin-bottom:10px}
.p_company + p{text-align:left;margin-left:175px;margin-right:175px}

.ie-radius{behavior: url(css15/ie-css3.htc);border-radius:5px;}
hr{border-top: thin #c8c8c8;border-left:thin #c8c8c8;}
/***********bar-menu***********/
.Bar{position:relative;z-index:5000;height:40px;margin-bottom:-30px}
.Bar button{font:400 18px/1.25 "HelveticaNeue-Thin","Helvetica Neue",sans-serif;width:135px;height:37px;margin-left:15px;margin-top:5px;padding-top:8px;background-color:#27c253;border-radius:5px;color:#fff;
}

.Bar-logo img{padding-top:2px}
.Bar-menu-link{padding-top:5px;}

#product{color:#000;box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.12);background:#fff;height:280px}
#product a{text-decoration:none}
#product a:hover{background-color:rgba(255,255,255,.1);color:rgb(74,180,255)}
#product .navigation-down-inner .xdoc{border: 1px solid #000; padding: 10px 0px 10px 20px; border-radius: 5px; border-color: Green;margin-top: 35px; margin-right: 10px;}
#product .navigation-down-inner .xdoc:hover{background-color:rgb(238,238,238);border: 1px solid rgb(238,238,238);}
#product .navigation-down-inner .ximage{border: 1px solid #000; padding: 10px 20px; border-radius: 5px; border-color: Green;margin-top: 40.5px; margin-right: 10px;}
#product .navigation-down-inner .ximage:hover{background-color:rgb(238,238,238);border: 1px solid rgb(238,238,238);}

#second-bar{color:#000;border-bottom: 1px solid #bbb;background:#fff;height:40px;}
#second-bar a{color:#000}
#second-bar a:hover{color:#0487c4}


#howto{color:#000;box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.12);background:#fff;height:280px}
#howto a{text-decoration:none}
#howto a:hover{/*background-color:rgba(255,255,255,.1);*/color:rgb(74,180,255)}

/***********banner***********/
.banner{height:300px;margin-top:50px;background:url("../images/banner.jpg");}
.banner_content{padding-top:68px;color:#000;}
.banner_left{word-spacing:1px; /*letter-spacing:-1px;*/font:100 32px/1 "HelveticaNeue-Thin","HELVETICA_LT_35_THIN",sans-serif;width:413px;height:160px;padding-left:104px; border-right:1px double #000000;float:left}
.banner_left3,.banner_left4{margin-top:50px;font:400 23px/1 "HelveticaNeue-Thin",sans-serif;}
.banner_left4{margin-top:0}
.banner_right{height:160px;margin-right:125px;}
.banner_right1{float:right;font: 500 32px/1 "HelveticaNeue-Thin",sans-serif;float:right}	
.banner_right2{float:right;font-size:23px;padding-top:10px;font-family: "HelveticaNeue-Thin",sans-serif;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop)}
.banner_right3 button{outline:none;width:250px;height:56px;background-color:#446ab2;color:#fff;float:right;margin-top:35px;border-radius:5px;}


/***********content***********/
.content{height:632px;background:#fff;text-align:center;}
.content fieldset{border-radius:5px;border-color:#c8c8c8;}
.content fieldset:first-child > div:first-child + div{color:#000}
.content_button{width:135px;height:37px;color:#fff;border-radius:5px;}
.content_Html5Viewer{padding-left:171px;padding-top:50px;height:237px;float:left;}
.content_button_HTML5Viewer{background-color:#27c253}
.content_Raster{padding-left:26px;padding-top:50px;height:237px;float:left}
.content_button_Raster{background-color:#446ab2}
.content_PDF{padding-top:33px;padding-left:171px;float:left}
.content_button_PDF{background-color:#db4444}
.content_Word{padding-top:33px;padding-left:28px;float:left}
.content_button_Word{background-color:#8b8fab}
.content_Excel{padding-top:33px;padding-left:28px;float:left}
.content_button_Excel{background-color:#8b8fab}
.content div:first-child legend{color:#27c253;font-size:27px;width:115px;text-align:center}
.content div .content_Html5Viewer_1{font-size:30px;padding-top:20px;padding-bottom:20px;}
.content div .content_Html5Viewer_2,.content div:first-child .content_Html5Viewer_3{font-size:20px;}
.content div .content_Html5Viewer_3{padding-bottom:20px;}
.content div + div legend{color:#446ab2;font-size:27px;width:75px;text-align:center}
.content div + div .content_Raster_1{font-size:30px;padding-top:20px;padding-bottom:20px;}
.content div + div .content_Raster_2,.content div:first-child + div .content_Raster_3{font-size:20px;}
.content div + div .content_Raster_3{padding-bottom:20px;}
.content div + div + div legend{color:#db4444;font-size:27px;width:70px;text-align:center}
.content div + div + div .content_PDF_1{font-size:30px;padding-top:20px;padding-bottom:20px;}
.content div + div + div .content_PDF_2,.content div:first-child + div + div .content_PDF_3{font-size:20px;}
.content div + div + div .content_PDF_3{padding-bottom:20px;}
.content div + div + div + div legend{color:#8b8fab;font-size:27px;width:110px;text-align:center}
.content div + div + div + div .content_Word_1{font-size:30px;padding-top:20px;padding-bottom:20px;}
.content div + div + div + div .content_Word_2,.content div:first-child + div + div + div .content_Word_3{font-size:20px;}
.content div + div + div + div .content_Word_3{padding-bottom:20px;}
.content div + div + div + div + div legend{color:#8b8fab;font-size:27px;width:110px;text-align:center}
.content div + div + div + div + div .content_Excel_1{font-size:30px;padding-top:20px;padding-bottom:20px;}
.content div + div + div + div + div .content_Excel_2,.content div:first-child + div + div + div + div .content_Excel_3{font-size:20px;}
.content div + div + div + div + div .content_Excel_3{padding-bottom:20px;}
.content div > span{display:inline-block;margin-top:-15px;}
.content div > span > a{ display:block;line-height:50px;padding-left:22.5px;padding-right:22.5px;margin-left:-3px}
.content div > span > a:hover{background-color:rgba(255,255,255,.1);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19ffffff,endColorstr=#19ffffff);height:50px;}

/***********support***********/
.support{height:300px;background:url("../images/support.jpg");}
.support div:first-child{padding-top:60px;}
.support div:first-child > span:first-child {font-size:25px;margin-left:338px;padding-bottom:34px;}
.support div:first-child > span + span {font-size:25px;margin-right:274px;float:right;}
.support div:first-child + div{padding-top:24px;}
.support div:first-child + div > span:first-child {font-size:20px;margin-left:258px;}
.support div:first-child + div > span:first-child + span {font-size:20px;margin-right:228px;float:right;}
.support div:first-child + div + div > span:first-child {font-size:20px;margin-left:265px;}
.support div:first-child + div + div > span:first-child + span {font-size:20px;margin-right:260px;float:right}
.support div:first-child + div + div + div{margin-top:48px}
.support div:first-child + div + div + div > a button:first-child {margin-left:346px;}
.support div:first-child + div + div + div > a button:first-child + button {margin-right:346px;float:right;}
.support_button{width:165px;height:37px;color:#fff;background-color:#26c152;border-radius:5px;}

/***********customer***********/
.customer{height:258px;text-align:center;background-color:rgb(232,232,224);}
.customer > div:first-child{padding-top:66px;font-size:32px;}
.customer > div > img{margin-top:42px;}

/***********footer***********/
.footer{color:#fff;}
.footer a{color:#fff;font-size:14px;}
.footerNav{height:332px;background-color:#333333;color:#fff}
.footerNav > div > span{font-size:22px;}
.footerNav ul{list-style:none;margin-left:0px;float:left}
.footerNav ul a{text-decoration:none;color:#fff}
.footerNav ul a:hover{/*background-color:rgba(255,255,255,.1);*/color:rgb(74,180,255)}
.footer_col1{margin-left:102px;margin-top:30px;width:501px;float:left}
.footerNav hr{margin-top:16px;}
.footer_col1 ul.ul_XDoc li:first-child + li + li + li{padding-top:20px;}
.footer_col1 ul div{float:left}
.footer_col1 .ul_XDoc li:first-child{margin-top:18px;}
.footer li{margin-top:2px}
.footer_col1 > div{margin-top:18px;}
.footer_col2{margin-left:82px;margin-top:30px;width:286px;float:left;}
.footer_col2 > ul > li:first-child{margin-top:18px;}
.footer_col3{margin-left:93px;margin-top:30px;width:180px;float:left;}
.footer_col3 > ul > li:first-child{margin-top:18px;}
.footer_col3 > ul > li:first-child + li + li + li{margin-top:40px;}
.footer_col3 > ul > li:first-child + li + li + li + li{margin-top:40px;}
.footer_col3 > ul > li:first-child + li + li + li + li a,.footer_col3 > ul > li:first-child + li + li + li a{font-size:22px;}
.footerCopyright{background-color:#191919;height:115px;font-size:14px;}
.footerCopyright p:first-child{padding-top:24px;padding-left:41px;padding-right:33px;line-height:16px}
.footerCopyright p:first-child + p{margin-top:10px;text-align:center;}

/***********navigation***********/
html{font-size:62.5%;font-family:"HelveticaNeue-Thin",sans-serif} 
body,div,dl,dt,dd,ul,ol,li,/*h1,h2,h3,h4,h5,h6,*/pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,hr{margin:0;padding:0}
body{line-height:1.333;font-size:12px}
/*h1,h2,h3,h4,h5,h6{font-size:100%;font-family:"HelveticaNeue-Thin",sans-serif}*/
li{list-style:none}
a:link,a:visited{text-decoration:none}
a{blr:expression(this.onFocus=this.close());}


.head-v3{position:relative;z-index:100;min-width:1000px}
.head-v3 .navigation-inner{margin:0 auto;width:980px;position:relative}
.navigation-up{/*height:60px;*/color:#fff}
.navigation-up .navigation-v3{margin-left:0px;float:left;_margin-left:10px}
.navigation-up .navigation-v3 ul{float:left}
.navigation-up .navigation-v3 li{float:left;font:100 14px/50px "HelveticaNeue-Thin",sans-serif;color:#fff}
.navigation-up a{color:#fff;padding-left:18px;padding-right:18px;outline:none;}
.navigation-up li:hover{background-color:rgba(255,255,255,.1);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19ffffff,endColorstr=#19ffffff);height:50px;}
.navigation-up .navigation-v3 .nav-up-selected{/*background:#fff;color:#fff*/}
.navigation-up .navigation-v3 .nav-up-selected-inpage{background:#202833}
.navigation-up .navigation-v3 li h2{font-weight:normal;padding:0;margin:0}
.navigation-up .navigation-v3 li h2 a{padding:0 25px;color:#fff;display:inline-block;height:60px;font-family:"HelveticaNeue-Thin"}


/*.navigation-down{position:relative;left:269px;width:1366px;z-index:100;}*/
.navigation-down{position:relative;margin:0 auto;width:1348px;z-index:100;}
.navigation-down .nav-down-menu{width:100%;margin:0;background:#344157;position:absolute;top:50px}
.navigation-down .nav-down-menu .navigation-down-inner{margin:auto;width:1200px;position:relative}
.navigation-down .nav-down-menu .navigation-down-inner .h-xdoc button{font-size:17px;margin-top:37px;width:220px;height:48px;border-radius:5px;background-color:#27c253;color:#fff}
.navigation-down .nav-down-menu .navigation-down-inner .h-image button{font-size:17px;margin-top:75px;width:220px;height:48px;border-radius:5px;background-color:#27c253;color:#fff}

.second-nav-bar{width:100%;background:#344157;position:relative;margin-top:-12px;z-index:99;}

/***********pricing table1***********/
.re_pricing3col{margin-left: 12.69%;margin-top:75px;width:73.12%}
.re_pricing3col > table:first-child{border: none; width: 100%;border-spacing:1px}
.re_pricing3col > table:first-child tr > td:first-child{border: solid rgb(38,192,82) 1px; width: 24%}
.re_pricing3col > table:first-child tr > td:first-child div:first-child{height: 228px; float: left; width: 98%; text-align: left; padding-left: 2%;
                                padding-top: 180px; font-size: 20px; background-color: #fff;}
.re_pricing3col > table:first-child tr > td:first-child + td{width: 24.5%;}
.re_pricing3col > table:first-child tr > td:first-child + td > div:first-child{background-color: rgb(0,152,103); color: rgb(36,229,132); text-align: center;
                                height: 393px; float: left; width: 100%; padding-top: 20px; font-size: 18px;}
.re_pricing3col > table:first-child tr > td:first-child + td + td{width: 24.5%}
.re_pricing3col > table:first-child tr > td:first-child + td + td > div:first-child{margin-top: -30px; padding-top: 51px; height: 392px; background-color: rgb(32,82,132);
                                color: rgb(139,171,237); text-align: center; float: left; width: 100%; font-size: 18px;
                                background-image: url(../images/mostpopular_70x70.png); background-repeat: no-repeat;
                                background-position: top right}
.re_pricing3col > table:first-child tr > td:first-child + td + td + td{width: 25%;}
.re_pricing3col > table:first-child tr > td:first-child + td + td + td > div:first-child{background-color: rgb(0,152,103); color: rgb(36,229,132); text-align: center;
                                height: 392px; float: left; width: 96%; padding-left: 2%; padding-right: 2%;
                                padding-top: 20px; font-size: 18px; border-left: 1px solid #fff; border-right: 1px solid #fff;
                                border-bottom: 1px solid rgb(38,192,82);}
/***********pricing table2***********/
.re_pricing3col1{margin-left: 12.69%;margin-top:75px;width:73.12%}
.re_pricing3col1 > table:first-child{border: none; width: 100%;border-spacing:1px}
.re_pricing3col1 > table:first-child tr > td:first-child{border: solid rgb(38,192,82) 1px; width: 24%}
.re_pricing3col1 > table:first-child tr > td:first-child div:first-child{height: 228px; float: left; width: 98%; text-align: left; padding-left: 2%;
                                padding-top: 180px; font-size: 20px; background-color: #fff;}
.re_pricing3col1 > table:first-child tr > td:first-child + td{width: 24.5%;}
.re_pricing3col1 > table:first-child tr > td:first-child + td > div:first-child{margin-top: -30px; padding-top: 51px; height: 392px; background-color: rgb(32,82,132);
                                color: rgb(139,171,237); text-align: center; float: left; width: 96%; padding-left: 2%;
                                padding-right: 2%; font-size: 18px; background-image: url(../images/mostpopular_70x70.png);
                                background-repeat: no-repeat; background-position: top right}
.re_pricing3col1> table:first-child tr > td:first-child + td + td{width: 24.5%}
.re_pricing3col1 > table:first-child tr > td:first-child + td + td > div:first-child{background-color: rgb(0,152,103); color: rgb(36,229,132); text-align: center;
                                height: 393px; float: left; width: 97%; padding-left: 2%; padding-right: 2%;
                                padding-top: 20px; font-size: 18px;}
.re_pricing3col1 > table:first-child tr > td:first-child + td + td + td{width: 25%;}
.re_pricing3col1> table:first-child tr > td:first-child + td + td + td > div:first-child{background-color: rgb(0,152,103); color: rgb(36,229,132); text-align: center;
                                height: 392px; float: left; width: 96%; padding-left: 2%; padding-right: 2%;
                                padding-top: 20px; font-size: 18px; border-left: 1px solid #fff; border-right: 1px solid #fff;
                                border-bottom: 1px solid rgb(38,192,82);}
/***********pricing table3***********/
.re_pricing4col{margin-left: 12.69%;margin-top:75px;width:73.12%}
.re_pricing4col > table:first-child{border: none; width: 100%;border-spacing:1px}
.re_pricing4col > table:first-child tr > td:first-child{border: solid rgb(38,192,82) 1px; width: 14.7%;}
.re_pricing4col > table:first-child tr > td:first-child div:first-child{height: 228px; float: left; width: 98%; text-align: left; padding-left: 2%;
                                padding-top: 180px; font-size: 20px; background-color: #fff;}
.re_pricing4col > table:first-child tr > td:first-child + td{width: 15.8%;}
.re_pricing4col > table:first-child tr > td:first-child + td > div:first-child{background-color: rgb(0,152,103); color: rgb(36,229,132); text-align: center;
                    height: 394px; float: left; width: 100%; 
                    padding-top: 20px; font-size: 18px;}
.re_pricing4col > table:first-child tr > td:first-child + td + td{width: 16.5%}
.re_pricing4col > table:first-child tr > td:first-child + td + td > div:first-child{margin-top: -30px; padding-top: 51px; height: 393px; background-color: rgb(32,82,132);
                   float:left; color: rgb(139,171,237); text-align: center;  width: 100%; 
                     font-size: 18px; background-image: url(../images/mostpopular_70x70.png);
                    background-repeat: no-repeat; background-position: top right}
.re_pricing4col > table:first-child tr > td:first-child + td + td + td{width: 15.7%;}
.re_pricing4col > table:first-child tr > td:first-child + td + td + td > div:first-child{background-color: rgb(0,152,103); color: rgb(36,229,132); text-align: center;
                               float:left; height: 394px;  width: 96%; padding-left: 2%; padding-right: 2%;
                                padding-top: 20px; font-size: 18px;}
.re_pricing4col > table:first-child tr > td:first-child + td + td + td + td{width: 15.7%;}
.re_pricing4col > table:first-child tr > td:first-child + td + td + td + td > div:first-child{background-color: rgb(0,152,103); color: rgb(36,229,132); text-align: center;
                                height: 394px; float: left; width: 96%; padding-left: 2%; padding-right: 2%;
                                padding-top: 20px; font-size: 18px; }

#re_web-viewer_pdf{width:47px;height:64px; background:url('../images/web_viewer.png') no-repeat -0px 0px; float:left; overflow:hidden;}
#re_web-viewer_pdf:hover{background:url('../images/web_viewer.png') no-repeat -0px 0px #727272; }
#re_web-viewer_word{width:47px;height:64px; background:url('../images/web_viewer.png') no-repeat -59px 0px; float:left; overflow:hidden;}
#re_web-viewer_word:hover{background:url('../images/web_viewer.png') no-repeat -59px 0px #727272; }
#re_web-viewer_excel{width:47px;height:64px; background:url('../images/web_viewer.png') no-repeat -118px 0px; float:left; overflow:hidden;}
#re_web-viewer_excel:hover{background:url('../images/web_viewer.png') no-repeat -118px 0px #727272; }
#re_web-viewer_ppt{width:47px;height:64px; background:url('../images/ppt.png'); float:left; overflow:hidden;}
#re_web-viewer_ppt:hover{background:url('../images/ppt.png') #727272; }
#re_web-viewer_tiff{width:47px;height:64px; background:url('../images/web_viewer.png') no-repeat -178px 0px; float:left; overflow:hidden;}
#re_web-viewer_tiff:hover{background:url('../images/web_viewer.png') no-repeat -178px 0px #727272; }
#re_web-viewer_dicom{width:47px;height:64px; background:url('../images/web_viewer.png') no-repeat -238px 0px; float:left; overflow:hidden;}
#re_web-viewer_dicom:hover{background:url('../images/web_viewer.png') no-repeat -238px 0px #727272; }
.re_web_viewer_bts{margin-right:15px;}